<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Account Deactivation</title>
    </head>
    <body>
        <h1>Account Deactivation</h1>
        <p><%= name %></p>
        <p>Are you sure you want to deactivate your account? This will mean that the you cannot log in and such but your contributions to the site will still remain</p>
        <form method="POST" action="/internal/deactivate-profile">
            <input type="submit" />
        </form>
        <a href="/internal/profile">click to cancel deactivation</a>
    </body>
</html>