<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Account Deletion</title>
    </head>
    <body>
        <h1>Account Deletion</h1>
        <p><%= name %></p>
        <p>Are you sure you want to deactivate your account? This will mean that the you cannot log in and all contributions you have made to the NU Sci website will be deleted.</p>
        <form method="POST" action="/internal/delete-profile">
            <input type="submit" />
        </form>
        <a href="/internal/profile">click to cancel deletion</a>
    </body>
</html>