<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Your Article</title>
  </head>
  <body>
    <h1>Submit an Article!</h1>
    <form method="POST">
      <hr />
      <input type="text" name="title" />
      <input type="text" name="author" />
      <input type="text" name="year" />
      <input type="text" name="major" />
      <hr />
    </form>
  </body>
</html>
