<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Your Article</title>
    <link href="/public/css/draggable.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/panel.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/articlepost.css" rel="stylesheet" type="text/css" />
    <script defer src="/public/js/draggable.js"></script>
  </head>
  <body>
    <h1>Submit an Article!</h1>
    <div id="container">
      <div id="article-content">
        <div id="article-header">
          <div class="panel">
            <h3>Article Header</h3>
          </div>
        </div>
        <div id="article-body">
          <ul class="body-elements panel">
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
            <li class="item" draggable="true">
              <div class="details">
                <textarea class="input-text" placeholder="Body Paragraph"></textarea>
              </div>
              <img class="ui-draggable-dots" src="/public/assets/draggabledots.webp" />
            </li>
          </ul>
        </div>
      </div>
      <div id="add-element-container">
        <div class="panel-container">
          <div id="add-panel" class="panel">
            <p>Add an element:</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
