body {
  background-color: #fefefe;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#article-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

#article-content {
  width: 50%;
}

#add-element-container {
  width: 30%;
}
