body {
  background-color: #fefefe;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#article-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

#article-content {
  width: 50%;
}

#add-element-container {
  width: 30%;
}

#header-panel {
  display: flex;
  flex-direction: row;
  justify-content: cneter;
}

.header-col {
  margin: 20px 20px 20px 20px;
}

.btn {
  padding: 0px;
  transition: transform 0.3s;
  background: #ffffff;
  border-color: #000000;
  border-width: 3px;
  color: #000000;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  transform: scale(1.05);
}

.btn span {
  transition: transform 0.3s;
}

.btn:hover span {
  transform: scale(0.95);
}
