#article-body {
  display: flex;
  align-items: center;
  justify-content: left;
}

.body-elements .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 0px 13px;
  margin-bottom: 11px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.06); */
  border: 1px solid #ccc;
  justify-content: space-between;
}

.item .details {
  display: flex;
  align-items: center;
}
.item .details img {
  height: 43px;
  width: 43px;
  pointer-events: none;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}
.item .details span {
  font-size: 1.13rem;
}
.item i {
  color: #474747;
  font-size: 1.13rem;
}
.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}

.ui-draggable-dots {
  height: 20px;
  user-select: none;
  pointer-events: none;
}

.ui-delete-element {
  height: 20px;
  user-select: none;
  pointer-events: none;
}

.input-text {
  resize: none;
  width: 40vw;
  border: none;
  margin-top: 5px;
  height: 10vh;
}
