body {
  background-color: black;
  overflow-x: hidden;
}

img {
  position: absolute;
  display: none;
  user-select: none;
  pointer-events: none;
}

.hiddenLeft {
  opacity: 0%;
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenRight {
  opacity: 0%;
  transform: translateX(100%);
  transition: all 1s;
}

.show {
  opacity: 100%;
  transform: translateX(0);
}

#page-title {
  font-size: 75px;
  margin-top: 100px;
  text-align: center;
  color: white;
}

#analog_together {
  width: 270px;
  height: 480px;
}

#andrew {
  width: 512px;
  height: 384px;
}

#cos_dinner {
  width: 400px;
  height: 300px;
}

#ethan {
  /*Perfect*/
}

#funny {
  /*Perfect*/
}

#funny0 {
  /*Perfect*/
}

#nethra_br {
  width: 282px;
  height: 376px;
}

#nethra_tea {
  /*Perfect*/
}

#noah_tea1 {
  width: 300px;
  height: 400px;
}

#raisa_tea {
  width: 378px;
  height: 504px;
}

#raisa_tea_smile {
  width: 378px;
  height: 504px;
}

#reshika_br {
  width: 363px;
  height: 646px;
}

#reshika_peace {
  width: 600px;
  height: 450px;
}

#reshika_tea {
  width: 378px;
  height: 504px;
}

#sushi {
  width: 504px;
  height: 378px;
}

#sushi_half_ready {
  width: 456px;
  height: 342px;
}

#sushi_ready {
  width: 504px;
  height: 378px;
}

#sushi_unready {
  width: 504px;
  height: 378px;
}

#tabling1 {
  width: 504px;
  height: 378px;
}

#tabling2 {
  width: 504px;
  height: 378px;
}

#tabling3 {
  width: 504px;
  height: 378px;
}

#times {
  width: 400px;
  height: 300px;
}

#tonia_tea {
  /*Perfect*/
}

#vianna_tea {
  /*Perfect*/
}
