@charset "UTF-8";

.btn {
    padding: 0px;
    transition: transform .3s;
    background: #ffffff;
    border-color: #000000;
    border-width: 3px;
    color: #000000;
    font-family: Monaco, monospace;
    font-size: 15px;
    height: 30px;
    width: 150px;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    transform: scale(1.05);
  }
  
  .btn span {
    transition: transform .3s;
  }
  
  .btn:hover span {
    transform: scale(0.95);
  }