.btn {
    padding: 0px;
    transition: transform .3s;
    font-family: Monaco, monospace;
    font-size: 15px;
    height: 30px;
    width: 150px;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .btn span {
    transition: transform .3s;
  }
  
  .btn:hover span {
    transform: scale(0.95);
  }